$width: 5%
$bigwidth: 95% * (100% / $width)
$margin: -0.52*($bigwidth - 100)
$issueheight: 200px

.challenges_item
 width: 100%

.timeline_container
  font-size: 20px
  width: $width
  margin-left: auto
  margin-right: auto

.subchallenge_container
  display: inline-block
  border: 1px solid grey
  width: $bigwidth
  height: $issueheight + 50px
  margin-left: $margin
  margin-bottom: 10px
  padding: 15px

.overflow-container
 overflow-x: scroll
 height: $issueheight + 20px
 width: 100%

.scroll-container
 width: 1000%

.progress_container
  padding-top: 10px
  height: 30px
  display: inline-block
  width: 100%

.centered
 margin-left: 10px

.issue
  float: left
  font-size: 16px
  display: inline-block
  border: 1px solid black
  height: $issueheight*0.8
  width: $issueheight*0.65
  margin-right: 20px
  padding: $issueheight*0.1

.label
  width: 21%
  float: left

.progress
  width: 77%
  float: left

.done
  background-color: green
