$width: 5%
$bigwidth: 100% * (100% / $width)
$margin: -0.5*($bigwidth - 100)

.challenges_item
 width: 100%

.timeline_container
  font-size: 20px
  width: $width
  margin-left: auto
  margin-right: auto

.subchallenge_container
  border: 3px solid black
  width: $bigwidth
  margin-left: $margin
  height: 50px

.centered
 margin-left: 10px
