.header-item-container
  width: 400px
  height: 20px

.left
  float: left

.right
  float: right

.hype-button-container
  margin-top: 10px
  z-index: 0
  position: fixed
  *
    margin-left: 3px
    float: left

.goal_menu
  z-index: 1
