{{fbf-btn position="fixed-bottomright" isFloating=true isColored=true icon="add" on-click="clickButton"}}
{{#if _isBottomSheetShown}}
  {{#fbf-bottom-sheet}}
    <div style="height:130px; width:130px">
      {{#fbf-bottom-sheet-item icon='feedback'}}
        Give a update/
        Release
      {{/fbf-bottom-sheet-item}}
    </div>
    <div style="height:130px; width:130px">
      {{#link-to editRoute}}
        {{#fbf-bottom-sheet-item icon='edit'}}
          Edit Goal
        {{/fbf-bottom-sheet-item}}
      {{/link-to}}
    </div>
    <div style="height:130px; width:130px">
      {{#link-to destroyRoute}}
        {{#fbf-bottom-sheet-item icon='delete'}}
          Put it in tha traaash
        {{/fbf-bottom-sheet-item}}
      {{/link-to}}
    </div>
    <div style="height:130px; width:130px" {{action "addRepo"}}>
      {{#fbf-bottom-sheet-item icon='create_new_folder'}}
        Add a Github Repository
      {{/fbf-bottom-sheet-item}}
    </div>
    <div style="height:130px; width:130px" {{action "addMilestone"}}>
      {{#fbf-bottom-sheet-item icon='add_circle_outline'}}
        Add a Milestone
      {{/fbf-bottom-sheet-item}}
    </div>
    <div style="height:130px; width:130px" {{action "addIssue"}}>
      {{#fbf-bottom-sheet-item icon='add'}}
        Add a Issue
      {{/fbf-bottom-sheet-item}}
    </div>
  {{/fbf-bottom-sheet}}
{{/if}}
