<ul class="core-team-list mdl-list">
  <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content ">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{_po}}</span>
      <span class="mdl-list__item-sub-title">Product Owner</span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{_hd}}</span>
      <span class="mdl-list__item-sub-title">Design</span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{_hfe}}</span>
      <span class="mdl-list__item-sub-title">Front-end</span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{_hbe}}</span>
      <span class="mdl-list__item-sub-title">Back-end</span>
    </span>
  </li>
</ul>
