{{component 'bepstore-goals@goal/goal-menu' model=model}}

<div class="hype-button-container">
  {{facebook-share fb-layout='button_count'}}
  {{twitter-share text="Check out this project:" related='FeedbackFruits, BEP Store' hashtags='BEPStore'}}
  {{linkedin-share count='right'}}
</div>
