<div class="timeline_container">
    {{#each mockModel as |milestone|}}
      {{component 'bepstore-goals@challenges/milestone' model=milestone openMilestone=openMilestone showMilestone=(action 'showMilestone')}}
    {{/each}}
</div>
