<div class="fbf-layout__flex-container">
  {{#component 'bepstore-goals@goal/goal-index' model=model}}
    <h2>Description:</h2>
    {{#fbf-card}}
      {{#fbf-item}}
        {{model.description}}
      {{/fbf-item}}
    {{/fbf-card}}
      <h3>Status: {{component 'bepstore-goals@badge/status-badge' status=model.status size="big"}}</h3>
    {{#fbf-card}}
      {{#fbf-item}}
        {{model.updateText}}
      {{/fbf-item}}
    {{/fbf-card}}
    <h3>Design</h3>
    {{#fbf-card}}
      {{#fbf-item class="design_item"}}
        Feel free to imagine a drag and drop field here
      {{/fbf-item}}
    {{/fbf-card}}
    <h3>Challenges</h3>
    {{#fbf-card}}
      {{#fbf-item class="challenges_item" }}
        {{component 'bepstore-goals@challenges/containter' model=model.children}}
      {{/fbf-item}}
    {{/fbf-card}}
  {{/component}}
</div>
